.scroll_wrapper{
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    width: 5rem;
    height:5rem;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 50;
}
.scroll_wrapper i{
    font-size: 2rem;
    color: white;
}

 @media only screen and (max-width:550px){
    .scroll_wrapper{
        bottom: 10rem;
        right: 1rem;

    }
   }
    