html,
body {
  font-family: 'Baloo Da 2', cursive;
  font-size: 62.5%;
  
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
::-webkit-scrollbar{
  width: 0;
}
:root{
  --primary-color:#e2b646

}
